---
const today = new Date()
---

<footer>
	<a href='https://niiico.com'>Más sobre mí aquí</a>

	<p>
		“El propósito del conocimiento es la acción, no el conocimiento”
		-Aristóteles
	</p>
	<p>Todo el contenido es propio, each word.</p>
	<span>
		&copy; {today.getFullYear()} Nicolás Arévalo. All rights reserved.
	</span>
</footer>
<style>
	footer {
		padding: 2em 1em 4em 1em;
		color: rgb(var(--gray));
		text-align: center;
	}
	footer a{
		text-underline-offset: 4px;

	}
	footer a,
	footer span,
	footer p {
		display: block;
	}
	footer p {
		margin: 0;
	}
</style>
